# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd
.python-version

# Virtual environments
venv/
volatility/  # Your custom venv folder
.env
.env.local

# Streamlit
.streamlit/

# IDE
.vscode/
.idea/

# User-generated outputs
outputs/